<div id="movie">
  <p>
    <span>
      <%= @movie.title %>
    </span>
    <% if @movie.biodome %>
      IS Biodome Effect Positive on overall ratings.
    <% else %>
      is NOT Biodome Effect Positive on overall ratings.
    <% end %>
  </p>
  <p>
    <% @biodome_effects.each do |cat| %>
      <li><%= "Biodome Effect present among #{cat}" %></li>
    <% end %>
  </p>

  <ul>
    <li><a href="/">search again</a></li>
  </ul>
</div>